# database

database management systems are important, heavily used, and interesting

table is a collection of recors, which are rows that have a value for each column

- **declarative language**(SQL, prolog)
  - description of the desired result
  - interpreter figures out how to generate the result
- **imperative language**(python, scheme)
  - description of computational processes
  - interpreter carries out execution/evaluation rules

```SQL
creat table cities as
    select 38 as latitude, 122 as longitude, "Berkeley" as name union
    select 42,              71,             "Cambridge"         union
    select 45,              93,             "Minneapolis";
    
select "west coast" as region, name from cities where longitude >= 115 union
select "other",                 name from cities where longitude <  115;
```

# structured query language

the SQL language is an ANSI and ISO standard, but DBMS's implement custom variants

- `select` statement creates a new table, either from scratch or by projecting a table
- `create table` gives a global name to a table

`select` statement includes a comma-separated list of column descriptions

```SQL
select [expressions] as [name], [expression] as [name];
```

selecting literals creates a one-row table

union of two select statement is a table containing the rows of both of their results

```SQL
select "abraham" as parent, "barack" as child union
select "abraham",           "clinton"           union
select "delano",            "herbert"           union
select "fillmore",          "abraham"           union
select "fillmore",          "delano"            union
select "fillmore",          "grover"            union
select "eisenhower",        "fillmore";
```

SQL is often used as an interactive language, so result of a `select` statement is displayed to the user, but not stored

`create table` statement gives the result a name

```SQL
create table [name] as [select name]
```

```SQL
create table parents as
    select "abraham" as parent, "barack" as child union
    select "abraham",           "clinton"           union
    select "delano",            "herbert"           union
    select "fillmore",          "abraham"           union
    select "fillmore",          "delano"            union
    select "fillmore",          "grover"            union
    select "eisenhower",        "fillmore";
```

# projecting tables

- `select` statement can specify an input table using a `form` clause
- subset of the rows of input table can be selected using a `where` clause
- ordering over the remaining rows can be decalred using an `order by` clause

```SQL
select [expression] as [name] [expression] as [name], ...;
select [columns] from [table] where [condition] order by [order];
```

```SQL
select child from parents where parent = "abraham";
select parent from parents where parent > child;
```

## arithmetic

combine row values and constants

```SQL
create table lift as 
    select 101 as chair, 2 as single, 2 as couple union
    select 102          , 0         , 3         union
    select 103          , 4         , 1;

select chair, single + 2 * couple as total from lift;
```

```SQL
select word from ints where one + two/2 + four/4 + eight/8 = 1;
```