# tables

## join tables

two table `A` & `B` are joined by a comma to yield all combos of a row from `A` and a row from `B`

```SQL
create table dogs as
    select "abraham" as name, "long" as fur union
    select "barack", "short" union
    ...;

create table parents as
    select "abraham" as parent, "barack" as child union
    select "abraham", "clinton" union
    ...;

select parent from parents, dogs where child = name and fur = "curly";
```

## aliases and dot expressions

two tables may share a column name

dot expressions and aliases disambiguate column values

```SQL
select a.child as first, b.child as second
    from parents as a, parents as b
    where a.parent = b.parent and a.child < b.child;
```

multiple tables can be joined to yield all combinations of rows from each

```SQL
create table grandparents as
    select a.parent as grandog, b.child as granpup
        from parents as a, parents as b
        where b.parent = a.child;
select grandog from grandparents, dogs as c, dogs as d
    where grandog = c.name and granpup = d.name and c.fur = d.fur
```

## numerical expressions

expressions can contain function calls and arithmetic operators

all are the same as scheme

## string expressions

combined to form longer strings

```SQL
sqlite> select "hello," || " world";
hello, world
```

below is different from python

```SQL
sqlite> create table phrase as select "hello, world" as s;
sqilte> select substr(s, 4, 2) || substr(s, instr(s, " ") + 1, 1) from phrase;
low
```

it is supported as string can be used to represent structured values but it's not a good idea

```SQL
sqlite> create table lists as select "one" as car, "two,three,four" as cdr;
sqlite> select substr(cdr, 1, instr(cdr, ",") - 1) as cadr from lists;
two
```