# boxer-and-pointer notation

## closure property of data types

a method for combining data values satisfies the closure property if:
 - result can itself be combined using the same method

enable to create hierarchical strutures

lists are represented as a row of index-labeled adjacent boxes, one per element

each contains a primitive value or points to a compound value

# slicing

In [1]:
odds = [3, 5, 7, 9, 11]
list(range(1, 3))

[1, 2]

In [2]:
[odds[i] for i in range(1, 3)]

[5, 7]

In [3]:
odds[1:3]

[5, 7]

In [4]:
odds[:3]

[3, 5, 7]

In [5]:
odds[1:]

[5, 7, 9, 11]

In [6]:
odds[:]

[3, 5, 7, 9, 11]

slicing creates new values

# processing container values

- **`sum`**`(iterable[, start]) -> value`
  
  return sum

In [7]:
sum([2, 3, 4])

9

In [8]:
sum(['2', '3', '4'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
sum([2, 3, 4], 5)

14

- **`max`**`(iterable[, key=func]) -> value`
  
  with a single iterable argument, return its largest item
  
  with two or more arguments, return largest argument

In [10]:
max(range(5))

4

In [12]:
max(range(10), key=lambda x: 7 - (x - 4) * (x - 2))

3

- **`all`**`(iterable) -> bool`
  
  return True if bool(x) is True for all values x in the iterable
  
  if the iterable is empty, return True

In [14]:
all(range(5))

False

In [15]:
all([x < 5 for x in range(5)])

True

# strings

- strings are an abstraction: data, language and programs

In [16]:
'curry = lambda f: lambda x: lambda y: f(x, y)'

'curry = lambda f: lambda x: lambda y: f(x, y)'

In [17]:
exec('curry = lambda f: lambda x: lambda y: f(x, y)')

In [18]:
curry

In [19]:
from operator import add
curry(add)(3)(4)

7

- strings are sequences: similar to all sequences
  - `in` and `not in` operators match substrings

# dictionaries

In [20]:
numerals = {'I': 1, 'V': 5, 'X': 10}
numerals

{'I': 1, 'V': 5, 'X': 10}

In [21]:
numerals['X']

10

In [22]:
numerals[0]

KeyError: 0

In [23]:
numerals['V']

5

In [24]:
list(numerals)

['I', 'V', 'X']

In [25]:
numerals.values()

dict_values([1, 5, 10])

In [26]:
sum(numerals.values())

16

In [27]:
list(numerals.values())

[1, 5, 10]

In [28]:
{}

{}

In [29]:
{1: 'item'}

{1: 'item'}

In [32]:
d = {1: ['first', 'second'], 3: 'third'}

In [33]:
d[1]

['first', 'second']

In [34]:
d[3]

'third'

In [35]:
len(d)

2

In [36]:
len(d[1])

2

In [37]:
len(d[3])

5

In [38]:
{1: 'first', 1: 'second'}

{1: 'second'}

In [39]:
{[1]: 'fitst'}

TypeError: unhashable type: 'list'

dictionaries are collections of key-value pairs

two restrictions for keys:
- cannot be a list or a dictionary or any mutable type(implementation of dic)
- cannot be equal; one value for a key(part of dic abstraction)

```python
{<key exp>: <value exp> for <name> in <iter exp> if <filter exp>}
```

In [40]:
def index(keys, values, match):
    """Return a dictionary from keys k to a list of values v 
    for which match (k, v) is a true value
    
    >>> index([7, 9, 11], range(30, 50), lambda k, v: v % k == 0)
    {7: [35, 42, 49], 9: [36, 45], 11: [33, 44]}
    """
    return {k: [v for v in values if match(k, v)] for k in keys}


index([7, 9, 11], range(30, 50), lambda k, v: v % k == 0)

{7: [35, 42, 49], 9: [36, 45], 11: [33, 44]}